pipeline/copy_emp_dept.json
{
	"name": "copy_emp_dept",
	"properties": {
		"activities": [
			{
				"name": "mysql_to_ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedataset_mysql",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.db_name_pipeline",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name_pipeline",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sinkdataset_csv",
						"type": "DatasetReference",
						"parameters": {
							"ADLS_Directory_Name": {
								"value": "@pipeline().parameters.ADLS_Directory_Pipeline",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.table_name_pipeline",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mysql_to_ADLS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "copy_response",
					"value": {
						"value": "@activity('mysql_to_ADLS').status",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"db_name_pipeline": {
				"type": "string"
			},
			"table_name_pipeline": {
				"type": "string"
			},
			"ADLS_Directory_Pipeline": {
				"type": "string"
			}
		},
		"variables": {
			"copy_response": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-24T09:10:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}