adfazewdcods896/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfazewdcods896"
		},
		"trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_db_namepipeline": {
			"type": "string",
			"defaultValue": "bigdata"
		},
		"trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_table_pipeline": {
			"type": "string",
			"defaultValue": "employees"
		},
		"trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_ADLS_Directory_Name": {
			"type": "string",
			"defaultValue": "bigdata"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copy_emp_dept')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "mysql_to_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcedataset_mysql",
								"type": "DatasetReference",
								"parameters": {
									"db_name": {
										"value": "@pipeline().parameters.db_name_pipeline",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name_pipeline",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkdataset_csv",
								"type": "DatasetReference",
								"parameters": {
									"ADLS_Directory_Name": {
										"value": "@pipeline().parameters.ADLS_Directory_Pipeline",
										"type": "Expression"
									},
									"File_Name": {
										"value": "@pipeline().parameters.table_name_pipeline",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "mysql_to_ADLS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "copy_response",
							"value": {
								"value": "@activity('mysql_to_ADLS').status",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"db_name_pipeline": {
						"type": "string"
					},
					"table_name_pipeline": {
						"type": "string"
					},
					"ADLS_Directory_Pipeline": {
						"type": "string"
					}
				},
				"variables": {
					"copy_response": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-07-24T09:10:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_interview_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "mysql_intrview_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcemysqlinterviewdb",
								"type": "DatasetReference",
								"parameters": {
									"dataset_dbname": {
										"value": "@pipeline().parameters.pipeline_dbname",
										"type": "Expression"
									},
									"dataset_table_name": {
										"value": "@pipeline().parameters.pipeline_tablename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "sink_interview_dbdata",
								"type": "DatasetReference",
								"parameters": {
									"dataset_filename": {
										"value": "@pipeline().parameters.pipeline_filename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipeline_dbname": {
						"type": "string"
					},
					"pipeline_tablename": {
						"type": "string"
					},
					"pipeline_filename": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata_check",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "metadatacheck",
								"type": "DatasetReference",
								"parameters": {
									"ADLS_Directory_Name": {
										"value": "@pipeline().parameters.ADLS_Directory_Name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata_check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(activity('Get Metadata_check').output.childItems,pipeline().parameters.table_pipeline))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "mysql_to_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sourcedataset_mysql",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@pipeline().parameters.db_namepipeline",
													"type": "Expression"
												},
												"table_name": {
													"value": "@pipeline().parameters.table_pipeline",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sinkdataset_csv",
											"type": "DatasetReference",
											"parameters": {
												"ADLS_Directory_Name": {
													"value": "@pipeline().parameters.ADLS_Directory_Name",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@pipeline().parameters.table_pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "mysql_to_ADLS_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sourcedataset_mysql",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@pipeline().parameters.db_namepipeline",
													"type": "Expression"
												},
												"table_name": {
													"value": "@pipeline().parameters.table_pipeline",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sinkdataset_csv",
											"type": "DatasetReference",
											"parameters": {
												"ADLS_Directory_Name": {
													"value": "@pipeline().parameters.ADLS_Directory_Name",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@pipeline().parameters.table_pipeline",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"db_namepipeline": {
						"type": "string"
					},
					"table_pipeline": {
						"type": "string"
					},
					"ADLS_Directory_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-07-22T17:58:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_parametrised_pipeline1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_copy1",
							"type": "PipelineReference"
						},
						"parameters": {
							"db_namepipeline": "[parameters('trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_db_namepipeline')]",
							"table_pipeline": "[parameters('trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_table_pipeline')]",
							"ADLS_Directory_Name": "[parameters('trigger_parametrised_pipeline1_properties_pipeline_copy1_parameters_ADLS_Directory_Name')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 6,
						"startTime": "2025-07-28T20:35:00",
						"endTime": "2025-07-29T07:16:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_copy1')]"
			]
		}
	]
}